<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\ProductRepository\MediaGalleryProcessor">
        <plugin name="syncengine-media-gallery-processor" type="SyncEngine\Connector\Model\MediaGalleryProcessorPlugin" sortOrder="1"/>
    </type>
</config>
